@use "variables" as v;
@use 'mixins' as m;

.c-button {
  border-radius: v.$btn-border-radius;
  padding: v.$btn-padding;
  border: 1px solid rgba(255, 255, 255, 0.46);
  transition: all .3s;
  &:hover{
    filter: brightness(120%);
  }

  &--primary {
    padding: v.$btn-padding-large;
    color: v.$bright-text;
    background-color: v.$button-primary;
    font-weight: 400;
    font-family: informapro, sans-serif;
    width: 100%;
    font-size: 1rem;
    grid-area: btn;
    @include m.tablet{
      max-width:300px;
    }
  }
  &--secondary{
    border: 2px solid v.$button-primary;
    // background: white;
    box-shadow: -2px -1px 10px rgba(0, 0, 0, 0.326);

  }
  &--tertiary{
    width: 6rem;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: rgb(0, 85, 255);
    @include m.lg{
      display: none;
    }
  }
  &--cta {
    width: 70%;
    padding: v.$btn-padding-large;
    font-size: 1.2rem;
    max-width: 300px;

  }
}
#main-cart-button{
  border: v.$primary-color;
  box-shadow: -2px -1px 10px rgba(0, 0, 0, 0.326);}
#main-cart-button h1{
  padding:0;
  margin: 0;
  color: v.$button-primary;
}
.form-validation{
  margin-bottom: 5rem;
}
