@use "variables" as v;
@use "mixins" as m;

.cart {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: v.$primary-color;
  display: none;
  overflow: auto;
  flex-direction: column;
  align-items: center;

  @include m.tablet {
    width: 60vw;
    right: 0;
  }

  &--checkout {
    height: unset;
    min-height: 20vh;
    display: flex !important;
  }

  button {
    margin: v.$small-margin;
    padding: v.$btn-padding-large;
    background-color: v.$button-primary;
    color: v.$bright-text;
    border-style: none;
    border-radius: v.$btn-border-radius;
    font-family: informapro, sans-serif;
    font-size: v.$fontSizeMedium;
  }

  &__header {
    padding: 1rem;
  }

  &__total-price {
    margin: 1rem;
  }

  &__button-wrapper {
    /* border: solid red 1px; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }
}

.cart.--active {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
}

.l-list-cart {
  /* border: solid red 1px; */
  overflow: auto;
  height: 80%;
  width: 70%;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(226, 213, 195);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(170, 155, 135);
    border-radius: 10px;
  }
}

.c-card-cart {
  /*  border: solid red 1px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  background-color: white;
  margin-top: 3px;
  padding: 0.5rem;

  &__figure {
    grid-area: 1 / 1 / 3 / 3;
  }

  &__body {
    grid-area: 3 / 1 / 4 / 3;
  }

  &__footer {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      background-color: v.$button-primary;
      color: v.$bright-text;
      font-size: v.$fontSizeMedium;
      width: 40px;
      padding: 0.3rem;
      margin: v.$small-margin;
      border-radius: v.$btn-border-radius;
      border-style: none;
    }
  }
}

@media screen and (min-width: 768px) {
  /*   .cart {
    width: 60vw;
    right: 0;
  } */

  .c-card-cart {
    &__figure {
      grid-area: 1 / 1 / 4 / 2;
    }
    &__body {
      grid-area: 2 / 2 / 3 / 3;
    }

    &__footer {
      grid-area: 3 / 2 / 4 / 3;
    }
  }
}
