@use "variables" as v;
@use "mixins" as m;
@use 'keyframes' as k;

.cart {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: v.$primary-color;
  display: none;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  @include k.fade;

  @include m.tablet {
    width: 60vw;
    right: 0;
  }

  &--checkout {
    height: unset;
    min-height: 20vh;
    display: flex !important;
  }

  &__header {
    padding: 1rem;
  }

  &__total-price {
    margin: 1rem;
  }

  &__button-wrapper {
    /* border: solid red 1px; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
    gap: 1rem;
  }
}

.cart.--active {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
}

.l-list-cart {
  list-style: none;
  padding-left: 0;
  overflow: auto;
  height: 80%;
  width: 80%;

  li {
    margin-bottom: 5px;

    /* @include m.tablet {
      height: 300px;
    } */
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(226, 213, 195);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(170, 155, 135);
    border-radius: 10px;
  }
}

.c-card-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: start;
  background-color: white;
  padding: 0.5rem;

  @include m.tablet {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: start;
  }

  &__figure {
    grid-area: 1 / 1 / 3 / 3;

    @include m.tablet {
      grid-area: 1 / 1 / 4 / 4;
    }
  }

  &__body {
    grid-area: 3 / 1 / 4 / 3;

    @include m.tablet {
      grid-area: 1 / 4 / 3 / 6;
    }
  }

  &__footer {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include m.tablet {
      grid-area: 3 / 4 / 4 / 6;
    }

    button {
      background-color: v.$button-primary;
      color: v.$bright-text;
      font-size: v.$fontSizeMedium;
      width: 40px;
      padding: 0.3rem;
      margin: v.$small-margin;
      border-radius: v.$btn-border-radius;
      border-style: none;
    }
  }
}
