@use "variables" as v;
@use "mixins" as m;

.footer {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid v.$secondary-color;
  color: whitesmoke;
  background-color: v.$third-color;

  &__content {
    padding: 4rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @include m.lg {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  &__contact h3{
    margin: 0;
  }
  &__adress{
    padding-top: 2rem;
  }

  &__about {
    max-width: 600px;
    @include m.lg {
      width: 60%;
    }
  }
  &__media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include m.lg{
        justify-content: center;
        align-items: center;
    }
  }
}

.bi-instagram,
.bi-facebook {
  font-size: 2rem;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}
.footer__copyright {
  margin: 1rem 0;
  opacity: 0.6;
}
