@use "variables" as v;
@use "mixins" as m;

.l-wrapper#wrapper-product-page {
  display: none;
  position: fixed;
  top: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &.--active {
    display: flex;
    background-color: rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(5px);
  }
}

.c-product-page {
  display: none;
  // position: relative;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: v.$primary-color;
  padding: 1rem;
  padding-bottom: 8rem;
  @include m.lg {
    // flex-direction: column;
    // flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
    grid-template-areas:
      "img hd"
      "img txt"
      "img si"
      "img kr"
      "img btn"
      "img 1fr";
      grid-template-columns: 50% auto;
      grid-template-rows: 4rem auto 4rem
  }
  @include m.desktop{
   padding: 4rem 4rem;   
  }
  &__figure {
    grid-area: img;

    @include m.lg {
      // width: 50vw;
    }
    img {
      width: 100%;
    }
  }
  &__header {
    grid-area: hd;
    font-size: 2rem;
    @include m.lg {
      width: 10%;
      height: 10%;
    }
  }
  &__info {
    grid-area: txt;
    position: relative;
    margin-bottom: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      &__size {
    grid-area: si;
  }
    @include m.tablet {
      // max-width: 80%;
    }
    @include m.lg {
      -webkit-line-clamp: 10;
      // width: 65%;
    }
 

    &.--active {
      -webkit-line-clamp: 10;
    }
  }

  &__price {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    color: rgb(177, 1, 1);
    grid-area: kr;
  }

  .c-product-page__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.c-product-page.--active {
  display: flex;
  position: fixed;
  top: 0;
  @include m.lg{
    display: grid;

  }
}
