@use "variables" as v;
@use "mixins" as m;

.l-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  position: relative;
  list-style-type: none;
  padding: 1rem;
  background-color: antiquewhite;
  @include m.tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include m.desktop {
    grid-template-columns: 1fr 1fr 1fr;
    // padding: v.$standard-value v.$large-width;
  }
  @include m.desktopXL {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    width: 100%;
    background-color: rgb(255, 249, 238);
    cursor: pointer;
    position: relative;
    
    img {
      object-fit: contain;
      width: 100%;
    }
    .c-card {
      padding: 2rem;
      cursor: pointer;
      &__footer {
        margin: v.$standard-margin 0;
      }
    }
  }
}
