@use "variables" as v;
@use "buttons";
@use "productlist";
@use "mixins" as m;
@use "productpage";
@use "cart";
@use "checkout";
@use "thankyou";
@use "footer";

*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "informapro", sans-serif;
  // font-weight: 400;
  font-style: normal;
  background-color: v.$primary-color;
}
.stop-scroll {
  overflow: hidden;
}
h1,
h2,
h3 {
  font-family: "roca", sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  background: linear-gradient(to top, rgba(black, 0.4), rgba(whitesmoke, 0.1)),
    url("src/assets/img/resized_images/hero-1920w-landscape.webp") center/cover
      no-repeat;
  color: v.$bright-text;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  &__logo {
    font-size: v.$fontSizeXL;
    @include m.lg{
    font-size: v.$fontSizeXXL;
  }
  }
}

#main {
  min-height: 70vh;

  // border: 1px solid v.$secondary-color;
}
#main-cart-button {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
}



.form-validation {
  display: flex;
  align-items: center;
  justify-content: center;

  .col-md-12 {
    text-align: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
animation: fadeIn 0.5s ease; 

.modal-content {
position: relative; 
padding: 1rem 0 6rem 0;
border-radius: 1.5rem;
font-size: 1.8rem;
h4{
  margin-top:3.5rem;
}

.purchaseModalEmail {
  font-size: v.$fontSizeMedium;
}

.order-details-container {
  border: 1px solid gray;
  border-radius: 1.5rem;
  padding: v.$fontSizeMedium;
  font-size: 1.2rem;
  margin: 0 auto; 
}

.order-details-item {
  border-bottom: 1px solid gray; 
  margin: v.$standard-margin 0 0 0;
}

.order-details-item:last-child {
  border-bottom: none; 
}

.bi.bi-x-lg {
  position: absolute;
  top: -10px;
  right: 18px;
  font-size: 2.5rem;
  padding: 10px;
  cursor: pointer;
  width: 43.66px;

}
}
}

.checkmark {
color: green;
font-size: 4rem;
border: 3px solid green;
width: 4rem;
height: v.$large-height;
border-radius: 2rem;
margin: 2rem auto ;

}