@use "variables" as v;
@use 'buttons';
@use "productlist";
@use "mixins";
@use "productpage";
@use "cart";
@use "checkout";
@use "thankyou";

*,p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "roca", sans-serif;
  // font-weight: 400;
  font-style: normal;
  background-color: v.$primary-color;
}
.stop-scroll {
  overflow: hidden;
}

h1 {
  // font-weight: 700;
}

.header {
  display: flex;
  height: 100vh;
  background: linear-gradient(to top, rgba(black, 0.4), rgba(whitesmoke, 0.1)),
    url("src/assets/img/resized_images/hero-1920w-landscape.webp") center/cover
      no-repeat;
  font-size: v.$fontSizeLarge;
  color: v.$bright-text;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#main {
  min-height: 70vh;

  // border: 1px solid v.$secondary-color;
}
#main-cart-button {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
}

.footer {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  &__info {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__about {
    max-width: 600px;
  }
}

.bi-instagram,
.bi-facebook {
  font-size: 2rem;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}

.footer__copyright {
  margin: 1rem 0;
}

.form-validation {
  display: flex;
  align-items: center;
  justify-content: center;

  .col-md-12 {
    text-align: center;
  }
}
