@use "variables" as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  height: 100vh;
  background: url("src/img/snow-7655439_1920.png") center/cover no-repeat;
  font-size: v.$fontSizeLarge;
  justify-content: center;
  align-items: center;
}

#main {
  min-height: 70vh;
  border: 1px solid v.$secondaryColor;
}

.cart {
  height: 100vh;
  width: 100vw;
  border: 1px solid red;
  background-color: rgba(128, 128, 128, 0.876);
  display: none;
  &--checkout {
    height: unset;
    min-height: 20vh;
    display: flex !important;
  }

  button {
    margin: 0.5rem;
    padding: 0.5rem;
    height: fit-content;
  }
}

.cart.active {
  display: flex;
  position: fixed;
  top: 0;
}

.main-wrapper__checkout {
  position: relative;
  display: none;

  #checkout-close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.footer {
  min-height: 30vh;
}
.main-wrapper__cart-button {
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  right: 1rem;
}
.main-wrapper__product-page {
  border: solid red 1px;
  height: 100vh;
  position: relative;
  display: none;

  .main-wrapper__product-page__close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
