@use "variables" as v;
@use "productlist";
@use "mixins";
@use "productpage";
@use "cart";
@use "checkout";
@use "thankyou";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  height: 100vh;
  background: url("src/img/snow-7655439_1920.png") center/cover no-repeat;
  font-size: v.$fontSizeLarge;
  justify-content: center;
  align-items: center;
}

#main {
  min-height: 70vh;
  border: 1px solid v.$secondary-color;
}
#main-cart-button {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  right: 1rem;
}

.footer {
  min-height: 30vh;
}

.footer {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  &__info {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__about {
    max-width: 600px;
  }
}

.bi-instagram,
.bi-facebook {
  font-size: 2rem;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }
}

.footer__copyright {
  margin: 1rem 0;
}
